main {
  display: flex;
  max-width: 1420px;
  margin: 8rem 11rem;


  .container {
    height: 400px;

    h1 {
      background-image: radial-gradient(circle at 87.5% 87.5%, #65ddd6 0, #5fdcde 10%, #5bdce6 20%, #5adbee 30%, #5cdaf5 40%, #61d9fb 50%, #68d7ff 60%, #72d6ff 70%, #7dd4ff 80%, #89d1ff 90%, #95cfff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
      margin: .6rem 0;
      max-width: 500px;
      font-size: 4.5rem;
      font-weight: 900;
      line-height: 4.5rem;
    }
  

    h3 {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2.125rem;
    }

    h4 {
      margin-top: 1.5rem;
      max-width: 400px;
      line-height: 2rem;
      font-weight: 900;
      font-size: 1.3rem;
    }

    button {
      margin-top: 2rem;
      color: var(--gray-900);
      background: var(--yellow-500);
      border: 0;
      font-size: 1.2rem;
      width: 260px;
      height: 64px;
      border-radius: 999999px;
      font-weight: 700;
      transition: 0.2s;
    }

    button:hover {
      filter: brightness(0.9);
    }
  }

  figure {
    display: block;
    width: 700px;
    height: 700px;
    
    img {
      margin-top: -5rem;
      margin-left: 15em;
      width: 100%;
      height: 100%;
    }
  }
}

h1 {
  font-size: 5em;
  color: white;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

.typewriter {
  width: 500px;
  height: 500px;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 880px) {
  main {
      figure {
        display: none;
        img {
        }
    }
  }
}

@media (max-width: 850px) {
  main {
    justify-content: center;
    align-items: center;
    margin: 8rem 20rem;
    
    .container {
      h1 {
        width: 400px;
      }
    }
  }
}

@media (max-width: 510px) {
  main {
    justify-content: center;
    align-items: center;
    margin: 20rem 10rem;
    margin-top: 5rem;
    
    .container {
      h1 {
        width: 200px;
      }
    }
  }

  .typewriter {
    width: 200px;
    height: 500px;
  }
}