.container-team {
  width: 99vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  .box-team {
    width: 450px;
    height: 250px;
    background-color: #333;
    padding: 2rem;
    margin: 1rem 2rem;

    .header-team {
      display: flex;
      padding: 1rem 0;
      
      .details {
        margin-left: 1.3rem;

        h3 {
          font-size: 1rem;
        }

        h4 {
          color: var(--gray-300);
        }
      }

      img {
        width: 49px;
        border-radius: 49px;
        height: 49px;
      }

      h3 {
        width: 300px;
      }
    }
  }


  p {
    text-align: justify;
  }
}

.texto {
  color: white;
  margin-left: 140px;
  font-size: 1em;
  padding: 10px;
  text-align: center;

  h1 {
    text-align: center;
    margin: 5rem 0;
  }
}

@media (max-width: 730px) {
  .sobre {
    justify-content: center;
  }
  .texto {
    margin-left: 0;
    font-size: .9rem;
  }
}

.color {
	animation: bg 10s cubic-bezier(.51,.55,.65,.61) infinite;

}
@keyframes bg {
  from {
    color: #fb0505;
  }

  10% {
    color: yellow;
  }

  20% {
    color: #fb7607;
  }

  30% {
    color: #61f205;
  }

	40% {
		color: #00f6cb;
	}

  60% {
    color: blue;
  }

  70% {
    color: blueviolet;
  }

  80% {
    color: red;
  }

  90% {
    color: gold;
  }

  100% {
    color: #fb7607;
  }
}