section {
  margin: 7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .evolution-container {
    width: 80vw;
    display: flex;
    justify-content: space-between;
  
    .content-box {
      margin: 5rem 0;
      background: #333;
      width: 350px;
      height: 400px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: flex;

      h2 {
        font-size: 2rem;
        text-align: center;
        margin: 3rem 0;
      }
  
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 1370px) {
  .evolution-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1370px) {
  .evolution-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 820px) {
  section {
    h1 {
      font-size: 3rem;
    }
  }
}

@media (max-width: 470px) {
  section {
    h1 {
      font-size: 3rem;
      width: 300px;
      text-align: center;
    }

    .evolution-container {
      .content-box {
        margin: 3rem 0;
        width: 280px;
        height: 370px;
      }
    }
  }
}